body {
    font-family: 'Inter', sans-serif;
    color: #F7FEF7;
    background-color: #7E7365;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    /*outline: 3px solid red;
    margin-left: 72px;
    margin-right: 72px;
    */

    margin-top: 100px;
}


.container-nav {
    height: 60px;
    background-color: rgba(63, 58, 49, 0.70);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-bottom: 254px;
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-right: 72px;
}

.container-menu {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.header-link {
    color:#F7FEF7;
    
}

.header-link:hover {
    text-shadow: 0px 0px 1px #F7FEF7;
}


.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.60), rgba(46, 47, 66, 0.60)),  url(../images/Hero2x.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container-hero {
    width: 1076px;
    margin: 0 auto;
}

.hero-text {
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    margin-left: 110px;
    margin-right: 110px;
}

.hero-text-mini {
    font-weight: 600;
    font-size: 20px;
    line-height: 320%;
    margin-bottom: 72px;
    margin-left: 110px;
    margin-right: 110px;
}

.button-hero {
    border-radius: 4px;
    padding: 24px 80px;
    width: 416px;
    height: 79px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    background-color: #E6C996;
    border: none;
}

.container-button {
    display: flex;
    justify-content: center;
}


.container-about {
    margin-top: 100px;
    margin-bottom: 100px;

}

.About-Us {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 64px;
}

.about-cont-one {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    justify-content: center; 
    margin-bottom: 76px;
}

.about-cont-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.about-foto {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
}

.about-text {
    width: 636px;
    height: 172px; 
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.foto {
    width: 196px;
    height: 172px;
}

.powerful {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    column-gap: 134px;
}

.powerful-list {
    width: 342px;
    height: 152px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.powerful-text {
    width: 342px;
    height: 83px;
    text-align: center;
    padding-top: 12px;
}

.container-dark {
    background-color: #3F3A31 ;
    margin-left: auto;
    width: 100%;
}

.powerful-arguments {
    padding-top: 40px;
    padding-bottom: 70px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
}

.gallery {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    padding-bottom: 40px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.container-services {
    background-image: linear-gradient(rgba(46, 47, 66, 0.60), rgba(46, 47, 66, 0.60)), url(../images/Services.jpg);
    height: 534px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    width: 100%;
}

.table-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 178px;
    padding-left: 72px;
    padding-right: 72px;
}

.services {
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    padding-top: 40px;;
    padding-bottom: 70px;
}

thead {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-align: left;
}

tbody {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
}

.table-one {
    width: 306px;
    height: 235px;
}

.table-two {
    width: 328px;
    height: 272px;
}

.table-three {
    width: 306px;
    height: 272px;
}

.price-varies {
    margin-top: 40px;
    margin-right: 72px;
    margin-left: auto;
    margin-bottom: 40px;
    width: 526px;
    height: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 143%;
}